/* Large view */
@media (min-width: 700px) {

  #menu-btn {
    display: none;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    background: none;
  }

  nav a {
    border: none;
    font-weight: 500;
  }

  nav a:hover {
    text-decoration: underline;
  }

  .temple-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for desktop */
  }
}
