@media (min-width: 700px) {

  /* Hide hamburger */
  #hamburger {
    display: none;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
  }

  main {
    grid-template-columns: repeat(3, 1fr);
  }
}
